
/* SMALLER SCREEN SIZE */

@media all and (max-width: 800px) {
    /* Header */
    .navBar {
        flex-direction: column;
        justify-content: center;
        height: 150px;
        margin-right: 0px;
    }

    .myName {
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .myNameText{
        font-size: 32px;
    }

    /* Index: projects */

    .projectSection {
        margin-top: 180px;
        margin-bottom: 20px;
    }

    .projectsContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project {
        width: 60%;
        margin: 0px 0px 40px 0px;
    }

    /* .projectTextContainer {
        width: 60%;
        height: auto;
        margin: 0px 0px 0px 0px;
    } */



    /* About: body */

    .aboutMeContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
    }

    .imgWrapper {
        width: 280px;
        height: 280px;
        margin-left: 0px;
        margin-top: 100px;
    }

    .nolanImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

   
    .aboutMeTextContainer {
        width: 70%;
        padding-top: 40px;
        padding-left: 15%;
        padding-right: 15%;
        margin-left: 0;
    }


    /* Footer */

    .footerLinkName {
       display: none;
    }

    .footerContainer {
        width: 40%;
        justify-content: space-between;
    }

    .linkContainer {
        width: 40px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 25px;
    }

    .emailAddress {
        padding-left: 0px;
        padding-right: 0px;
    }
}