* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primary: #223843;
    --secondary: #dbd3d8;
    --accent: #eff1f3;
    --hover: #d77a61
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--primary);
}

body {
    background-color: var(--secondary);
}

/* Header */

.header {
    background-color: var(--accent);
    opacity: 0.9;
    position: fixed;
    width: 100%;
}

.navBar {
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 120px;
}

.myName {
    font-size: 38px;
    flex-grow: 8;
    width: 250px;
    padding: 10px;
    margin-right: 40px;
    margin-left: 20px;
}

.navButtons {
    width: 400px;
    display: flex;
    justify-content: center;
}

.navButton {
    font-size: 20px;
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.navButton:hover {
    color: var(--hover);
    transition: 250ms;
}


/* Index Body */

.projectSection {
    display: inline-block;
    width: 100%;
    height: 80%;
    margin-top: 120px;
    margin-bottom: 120px;
    /* background-color: var(--secondary); */
}

.projectsContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 60px;
}

.project {
    width: 35%;
    padding: 20px;
    background-color: var(--accent);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectImg {
    width: 100%;
    padding: 0px 0px 10px 0px;
}



/* About body */

.aboutMeContainer {
    width: 100%;
    height: auto;
    /* background-color: blue; */
    padding-top: 140px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgWrapper {
    width: 350px;
    height: 350px;
    margin-left: 15px;
}

.nolanImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.aboutMeTextContainer {
    display: inline-block;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 25px;
}

.aboutMeText {
    padding: 10px;
}


/* Footer */



.footer {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 140px;
    background-color: var(--secondary);
}

.footerContainer {
    /* background-color: gray; */
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.emailAddress {
    padding-left: 40px;
    padding-right: 40px;
}

.linkContainer {
    /* background-color: pink; */
    width: 110px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkContainer:hover .footerIcon {
    color: var(--hover);
    transition: 250ms;
}
.linkContainer:hover .footerLinkName {
    color: var(--hover);
    transition: 250ms;
}

.footerIcon {
    color: var(--primary);
}

.footerLinkName {
    padding-left: 4px;
    display: block;
}

.footerText {
    margin-top: 15px;
    font-weight: 300;
    font-size: 16px;

}


