* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primary: #223843;
    --secondary: #dbd3d8;
    --accent: #eff1f3;
    --hover: #d77a61
}

h1, h2, p {
    color: var(--primary);
}

/* Header */

.header {
    background-color: var(--accent);
    opacity: 0.9;
    position: fixed;
    width: 100%;
}

.navBar {
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 120px;
}

.myName {
    font-size: 38px;
    flex-grow: 8;
    width: 250px;
    padding: 10px;
    margin-right: 40px;
    margin-left: 20px;
}

.navButtons {
    width: 400px;
    display: flex;
    justify-content: center;
}

.navButton {
    font-size: 20px;
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.navButton:hover {
    color: var(--hover);
    transition: 250ms;
}


/* Index Body */

.projects {
    display: inline-block;
    width: 100%;
    height: 80%;
    margin-top: 120px;
    margin-bottom: 120px;
    /* background-color: var(--secondary); */
}

.projectsContainer {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.project {
    width: 200px;
    padding: 10px;
}




body {
    background-color: var(--secondary);
}


/* About body */

.aboutMeContainer {
    width: 100%;
    height: auto;
    /* background-color: blue; */
    padding-top: 140px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgWrapper {
    width: 350px;
    height: 350px;
    margin-left: 15px;
}

.nolanImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.aboutMeTextContainer {
    display: inline-block;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 25px;
}

.aboutMeText {
    padding: 10px;
}







/* Footer */

.footerIcon {
    width: 18%;
    height: auto;

}

.footer {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 140px;
    background-color: var(--secondary);
}

.footerContainer {
    /* background-color: gray; */
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.linkContainer {
    /* background-color: pink; */
    width: 110px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkContainer:hover .footerIcon {
    filter: invert(53%) sepia(79%) saturate(355%) hue-rotate(325deg) brightness(90%) contrast(85%);
    transition: 250ms;
}
.linkContainer:hover .footerLinkName {
    color: var(--hover);
    transition: 250ms;
}


.emailAddress {
    padding-left: 40px;
    padding-right: 40px;
}

.footerLinkName {
    padding-left: 4px;
    display: block;
}

.footerText {
    margin-top: 15px;
    font-weight: 300;
    font-size: 16px;

}



/* SMALLER SCREEN SIZE */

@media all and (max-width: 800px) {
    /* Header */
    .navBar {
        flex-direction: column;
        justify-content: center;
        height: 120px;
        margin-right: 0px;
    }

    .myName {
        padding-bottom: 10px;
        padding-top: 10px;
        margin-right: 0px;
    }

    /* Index: projects */

    .projectsContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projects {
        margin-top: 160px;
        margin-bottom: 20px;
    }


    /* About: body */

    .aboutMeContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
    }

    .imgWrapper {
        width: 280px;
        height: 280px;
        margin-left: 0px;
        margin-top: 100px;
    }

    .nolanImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

   
    .aboutMeTextContainer {
        width: 70%;
        padding-top: 40px;
        padding-left: 15%;
        padding-right: 15%;
        margin-left: 0;
    }


    /* Footer */

    .footerLinkName {
       display: none;
    }

    .footerContainer {
        width: 40%;
        justify-content: space-between;
    }

    .footerIcon {
        width: 60%;
        height: auto;
    }

    .linkContainer {
        width: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .emailAddress {
        padding-left: 0px;
        padding-right: 0px;
    }
}