* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.header {
    background-color: rgb(255, 248, 255, 0.9);
    position: fixed;
    width: 100%;
}

.navBar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 120px;
}

.myName {
    flex-shrink: 8;
    width: 188px;
    padding: 10px;
    margin-right: 20px;
}

.navButtons {
    width: 400px;
    display: flex;
    flex-grow: 0;
    justify-content: center;
}

.navButton {
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.navButton:hover {
    color: #00a4d6;
}

.nolanImg {
    border-radius: 50px;
    width: 25%;
    height: auto;
    margin-left: 95px;
}

.aboutMeContainer {
    width: 100%;
    height: auto;
    /* background-color: blue; */
    padding-top: 120px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.aboutMeTextContainer {
    padding-left: 60px;
    padding-right: 60px;
}

.aboutMeText {
    padding: 10px;
}

.footerIcon {
    width: 18%;
    height: auto;

}

.footer {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.footerContainer {
    /* background-color: gray; */
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.linkContainer {
    /* background-color: pink; */
    width: 110px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkContainer:hover .footerIcon {
    filter: invert(54%) sepia(96%) saturate(1989%) hue-rotate(156deg) brightness(88%) contrast(101%);
}
.linkContainer:hover .footerLinkName {
    color: #00a4d6;
}




.emailAddress {
    padding-left: 40px;
    padding-right: 40px;
}

.footerLinkName {
    padding-left: 10px;
    display: block;
}



@media all and (max-width: 800px) {
    .navBar {
        flex-direction: column;
        justify-content: center;
        height: 120px;
        margin-right: 0px;
    }

    .myName {
        padding-bottom: 10px;
        padding-top: 10px;
        margin-right: 0px;
    }

    .nolanImg {
        width: 40%;
        height: auto;
        margin-top: 100px;
        margin-left: 0px;
    }

    .aboutMeContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
    }

    .aboutMeTextContainer {
        padding-top: 40px;
        padding-left: 25%;
        padding-right: 25%;
    }

    .footerLinkName {
       display: none;
    }

    .footerContainer {
        width: 40%;
    }

    .footerIcon {
        width: 60%;
        height: auto;
    }

    .linkContainer {
        width: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .emailAddress {
        padding-left: 0px;
        padding-right: 0px;
    }
}